.button{
    display: inline-flex;
    gap: 0.555rem;
    align-items: center;
    padding: 0.555rem 1.111rem;
    font-family: var(--font-lato);
    font-weight: 600;
  border-radius: 100px;
  background-color: #154aea;
  color: #fff;
  text-decoration: none; /* Reset text decoration */
  line-height: 0.75;
  border: none; /* Reset border for button element */
  width: max-content;
  transition: background-color 0.2s ease;
}

.button:hover {
    background-color: darkblue; /* Darker shade on hover */
  }