// Define padding values as a list
$paddingTop: 80; // You can add more values separated by commas, e.g., 80, 100, 120

// Iterate through each value in the list
@each $pt in $paddingTop {
    .pt-#{$pt} {
        padding-top: #{$pt}px;
    }
}

$paddingBottom: 80; // You can add more values separated by commas, e.g., 80, 100, 120

// Iterate through each value in the list
@each $pb in $paddingBottom {
    .pb-#{$pb} {
        padding-bottom: #{$pb}px;
    }
}

$marginBottom: 30, 10, 20, 50; // You can add more values separated by commas, e.g., 80, 100, 120

// Iterate through each value in the list
@each $mb in $marginBottom {
    .mb-#{$mb} {
        margin-bottom: #{$mb}px;
    }
}


